html,
body,
header,
#intro{
	height: 100%;
}

.navbar-brand{
	font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#intro{
	background: url('../img/bgimg.jpg')no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mainDiv{
	margin-top: 12%;
	position: relative;
}

.titleDiv{
	position: absolute;
	margin-top: 2%;
	opacity: 0;
	-webkit-animation: fadein 5s;
	-moz-animation: fadein 5s;
	animation: fadein 5s;
}

#title{
/*	font-family: 'Source Code Pro', monospace;*/
	font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#subTitle{
	font-family: 'Josefin Sans', sans-serif;
}

#Content{
	background-color: red;
}

@keyframes fadein{
	from { opacity: 0; }
	to { opacity: 1; }
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00cc99, 0 0 40px #00cc99/*, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073*/;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1affc6, 0 0 40px #1affc6/*, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6*/;
  }
}

#text1{
	font-family: 'Pacifico', cursive;
}

.btn{
	width: 160px;
	height: 50px;
}

.btnSocial{
	width: 45px;
	height: 45px;
	border-radius: 45px;
	padding: 10px;
	margin: 3px;
}

.msg{
	font-family: 'Dancing Script', cursive;
}